/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2016, 11:28:18 AM
    Author     : rober
*/


.menu-bar{
    -fx-background-color: transparent;
    /*-fx-border-color:  #f0cd90;
    -fx-border-width: 2*/

}

.menu-bar .label {
    -fx-font-size: 16 pt;
    -fx-text-fill: #dedede;

}



.menu-item .label{
    -fx-font-size: 16 pt;
    -fx-background-color: transparent;
}
.menu .label{     -fx-text-fill: black;}